body {
    font-family: Arial, sans-serif;
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  #taskInput {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #addTask {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0a0c92;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  #taskList li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  #taskList li:last-child {
    border-bottom: none;
  }
  
  #taskList li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  #taskList li button {
    background-color: #0d8f22;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #taskList li input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #taskList li.completed span {
    text-decoration: line-through;
    color: #888;
  }